<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2>The total number of users are: <%= count %></h2>
  
  <form method="post" action="/user/details">
    <button>Join us today!</button>
  </form>
  <a href="/user">Click to view users</a>
</body>
</html>