<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New User</title>
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>
  <h2>New User details</h2>
  <form method="post"action="/user/add">
    <input type="text" placeholder="enter unique_username" name="username">
    <input type="text" placeholder="enter email_id" name="email">
    <input type="password" placeholder="create password" name="password">
    <button>Add</button>
  </form>
</body>
</html>