<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verification</title>
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>
  <h2>Verify your Email &amp; Password</h2>
  <form method="post" action="/user/<%=user.id%>/delete?_method=DELETE">
    <input type="text" placeholder="Enter email" name="email">
    <input type="password" placeholder="Enter password" name="password" >
    <button>Delete</button>
  </form>
</body>
</html>